{% for server in ntpservers %}
pool {{ server }}
{% endfor %}

keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
maxupdateskew {{ maxupdateskew|default(100.0) }}
hwclockfile /etc/adjtime
rtcsync
makestep 1 3

